# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: '%env(MYSQL_HOST)%'
    database_port: '%env(MYSQL_PORT)%'
    database_name: '%env(MYSQL_DATABASE)%'
    database_user: '%env(MYSQL_USER)%'
    database_password: '%env(MYSQL_PASSWORD)%'

    mailer_transport: smtp
    mailer_host: smtp.mailtrap.io
    mailer_user: 4725a580ce8c50
    mailer_password: 8a439f42112620
    mailer_auth_mode: cram-md5

    secret: 40b7e7528d71bac28f11934f602b696192a94eb2
