{% extends "base.html.twig" %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Produtos em destaque</h2>
            </div>
        </div>

        <div class="row">
            {% for product in products %}
                {% include "product/product-box.html.twig" %}
            {% endfor %}
        </div>
    </section>

{% endblock %}